@import "../_variables/variables";

.application {
    .display-add-schedule{
        height: 100%;
        width: 100%;
        .add-schedule-page {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            .container-schedule {
                margin: auto;
                height: 90%;
                width: 90%;
                border: 1px dashed $func-color;
                display: flex;
                justify-content: center;
                align-items: center;
                .content-schedule {
                    width: 95%;
                    height: 95%;
                    .header {
                        display: flex;
                        justify-content: space-between;
                        border-bottom: 1px solid $func-color;
                        h1 {
                            text-transform: uppercase;
                            color: $buttons-color;
                            font-size: 1.5em;
                            padding: 2px;
                        }
                        button {
                            background-color: $buttons-color;
                            border: none;
                            margin-bottom: 4px;
                            a {
                                color: white;
                                font-weight: bold;
                                font-size: 1.1em;
                                padding: 1px 10px;
                            }
                        }
                    }
                    .about-schedule {
                        form{
                            display: flex;
                            flex-direction: column;
                            label{
                                display: flex;
                                justify-content: space-between;
                                margin: 0.5em;
                                font-size: 1.3em;
                                input{
                                    width: 80%;
                                    word-wrap: break-word;
                                    padding: 5px;
                                }
                                textarea{
                                    width: 80%;
                                    max-height: 5em;
                                    overflow-wrap: break-word;
                                    padding: 5px;
                                }
                                .week{
                                    width: 80%;
                                    input{
                                        width: 5%;
                                    }
                                }
                            }
                        }
                        .warn{
                            span{
                                color: red;
                                &.disabled{
                                    display: none;
                                }
                            }
                        }
                    }
                    .table{
                        padding-top: 2em;
                        table{
                            tr{
                                th{
                                    width: 16.66%;
                                    font-size: 1.3em;
                                }
                                &.header{
                                    th{
                                        border-top: 1px solid $func-color;
                                        padding: 0.7em 0;
                                        &:first-of-type{
                                            border-top: none;
                                        }
                                    }
                                }
                                &.day{
                                    th{
                                        border-bottom: 1px solid $func-color;
                                        padding:0.48em 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
