@import "../_variables/variables";

.nav{
    height: 100%;
    width: 100%;
    background-color: $nav-color;
    li{
        list-style: none;
        font-size: 30px;
        padding: 25px 20px;
        a{
            text-decoration: none;
            color: white;
            padding: 15px 15px;
        }
    }

}